{{ $portfolioScratch := newScratch }}
{{ $portfolioMobileScratch := newScratch }}
{{ partial "slides/columns" (dict  "portfolioScratch" $portfolioScratch "portfolioMobileScratch" $portfolioMobileScratch "ctx" .) }}

{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<section id="desktop" class="section intro">
	{{ partial "helpers/hidden-menu.html" . }}
	{{ partial "slides/slider" (dict "scratch" $portfolioScratch "type" "desktop" "ctx" .) }}
</section>

<section id="mobile" class="section intro">
	{{ partial "helpers/hidden-menu.html" . }}
	{{ partial "slides/slider" (dict "scratch" $portfolioMobileScratch "type" "mobile" "ctx" .) }}
</section>

{{ partial "slides/slides" $portfolioScratch }}
{{ partial "footer" . }}