{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<section class="section intro">
	{{ partial "helpers/hidden-menu.html" . }}

	<div class="tags-list center">
		<div class="slide-info">
			<div class="content">
				<div class="columns is-multiline mt-2">
					{{ range sort .Site.Taxonomies.tags "Count" "desc" }}
						<div class="column is-half">
							<div class="slide-tag center">
								<p>
									<a href="{{ .Page.Permalink }}">
										<i class="fas fa-tags"></i>
										{{ .Page.Title }} ({{ .Count }})
									</a>
								</p>
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}
