<div class="content has-text-centered">
    <p>
        {{ with .Site.Params.Copyright }}
            {{ . }} <br>
        {{ end }}
        {{ with .Site.Params.Author }}
            © {{ dateFormat "2006" now }}, {{ . }}.
        {{ end }}
    </p>
    {{ if not .Site.Params.DontShowSource}}
        <p>
            Made with love
            <i class="fa-solid fa-heart"></i>
        </p>
    {{ end }}
</div>